<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!--Error message-->
  <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
    <p class="text-center m-0"><i class="fa fa-exclamation-triangle"></i> {{ errorMessage }}</p>
  </div>

  <!--Success message-->
  <div class="alert alert-success" *ngIf="successMessage.length > 0">
    <p class="text-center m-0"><i class="fa fa-info-circle"></i> {{ successMessage }}</p>
  </div>

  <div class="mb-3">
    <label for="email">Email:</label>
    <input id="email" formControlName="email" class="form-control"/>
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
      <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</small>
    </div>
  </div>

  <div class="mb-3">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" class="form-control"/>
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
      <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">Must be at least 6
        characters</small>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
</form>
